In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
root = os.getcwd()
root

'./fair_taucc/datasets/movielens/movielens-1m'

In [4]:
ratings = pd.read_csv(root + "/ratings.dat", sep="::", header=None, names=["userID", "movieID", "rating", "timestamp"])
ratings

/tmp/ipykernel_252631/1932951714.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv(root + "/ratings.dat", sep="::", header=None, names=["userID", "movieID", "rating", "timestamp"])

         userID  movieID  rating  timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [5]:
N = ratings['userID'].max()  # Total number of users
M = ratings['movieID'].max() # Total number of movies
print(N)
print(M)

6040
3952

In [ ]:
# Determine the number of users and movies


# Create a matrix initialized with NaN values
matrix = np.full((N, M), np.nan)

# Populate the matrix with ratings
for _, row in df.iterrows():
    matrix[row['user_id'] - 1, row['movie_id'] - 1] = row['rating']

print(matrix)