In [7]:
import pandas as pd
import os
import numpy as np

### Sensitive attribute: Age

	*  1:  "Under 18" --> 0
	* 18:  "18-24"    --> 0
	* 25:  "25-34"    --> 0
	* 35:  "35-44"    --> 1
	* 45:  "45-49"    --> 1
	* 50:  "50-55"    --> 2
	* 56:  "56+"      --> 2

In [8]:
root = os.getcwd()
root

'./fair_taucc/datasets/movielens/movielens-1m'

In [9]:
users = pd.read_csv(root + "/users.dat", sep="::", header=None, names=["userID", "gender", "age", "occupation", "zipcode"])
users

/tmp/ipykernel_4032651/2972028389.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users = pd.read_csv(root + "/users.dat", sep="::", header=None, names=["userID", "gender", "age", "occupation", "zipcode"])

      userID gender  age  occupation zipcode
0          1      F    1          10   48067
1          2      M   56          16   70072
2          3      M   25          15   55117
3          4      M   45           7   02460
4          5      M   25          20   55455
...      ...    ...  ...         ...     ...
6035    6036      F   25          15   32603
6036    6037      F   45           1   76006
6037    6038      F   56           1   14706
6038    6039      F   45           0   01060
6039    6040      M   25           6   11106

[6040 rows x 5 columns]

In [16]:
age = users["age"].to_numpy()
age[:20]

array([ 1, 56, 25, 45, 25, 50, 35, 25, 25, 35, 25, 25, 45, 35, 25, 35, 50,
       18,  1, 25])

In [19]:
age = np.where(age <= 25, 0, age)
age[:20]

array([ 0, 56,  0, 45,  0, 50, 35,  0,  0, 35,  0,  0, 45, 35,  0, 35, 50,
        0,  0,  0])

In [20]:
age = np.where((age == 35) | (age == 45), 1, age)

In [21]:
age[:20]

array([ 0, 56,  0,  1,  0, 50,  1,  0,  0,  1,  0,  0,  1,  1,  0,  1, 50,
        0,  0,  0])

In [24]:
over50 = np.where(age > 45)[0]
age[over50] = 2

In [25]:
age[:20]

array([0, 2, 0, 1, 0, 2, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 2, 0, 0, 0])

In [26]:
np.save(f"{root}/age.npy", age)

In [28]:
np.unique(age, return_counts=True)

(array([0, 1, 2]), array([3421, 1743,  876]))